body {
  margin: 0;
}

.navbar {
display: flex;
background: #48D1CC;
}

.navbar a {
font-family: Georgia;
color: black;
padding: 15px;
text-decoration: none;
text-align: center;
font-size: 20px;
flex: 50%;
border-right: 2px solid #20B2AA;
}

.navbar a:hover {
background-color: #20B2AA;
color: white;
}

.container {
width: 85%;
padding: 20px 20px 20px 20px;
margin: auto;
border-radius: 10px;
}

p {
font-family: Arial;
font-size: 16px;
}

h1 {
font-family: Arial;
}

h2 {
font-family: Arial;
}

ol {
font-family: Arial;
}

ul {
font-family: Arial;
}
